*.pyc
pyverilog_toolbox/verify_tool/parsetab.py
*.output
pyverilog_toolbox/testcode/parsetab.py
*.out
pyverilog_toolbox/verify_tool/out.csv
*.csv
pyverilog_toolbox/testcode/simple.v
pyverilog_toolbox/testcode/test1.v
pyverilog_toolbox/testcode/test2.v
pyverilog_toolbox/verify_tool/refactor.py
build/
dist/
pyverilog_toolbox.egg-info/
*.bat

*.html
pyverilog_toolbox/gui/parsetab.py
*.ps1
pyverilog_toolbox/gui/setup.txt
pyverilog_toolbox/verify_tool/try_simpy.py
